# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
Archived old files/DRS Processing (DESKTOP-EPMC6AU's conflicted copy 2019-12-19).ipynb
Archived old files/DRS Processing.ipynb
Archived old files/python/InitialCodeTest.py
Archived old files/InitialCodeTest.txt
Archived old files/python/SecondCodeVersion-PreSPACY.py
Archived old files/SecondCodeVersion-PreSPACY.txt
Archived old files/Synonyms.ipynb
Archived old files/DRS Processing (DESKTOP-EPMC6AU's conflicted copy 2019-12-19) (DESKTOP-EPMC6AU's conflicted copy 2020-01-23).ipynb
Archived old files/DRS Processing (DESKTOP-EPMC6AU's conflicted copy 2020-01-23).ipynb
